
<ul class="nav nav-tabs">
    <li ng-class="{active: activeTab == '/home'}"><a href="/#!/home">Home</a></li>
    <li ng-class="{active: activeTab == '/historico'}"><a href="/#!/historico">Histórico</a></li>
    <div class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" id="txt_hashtag" class="form-control" placeholder="#something">
        </div>
        <button ng-click="pesquisar()" class="btn btn-default">Pesquisar</button>
    </div>
</ul>

<div class="container">
    <div class="row">
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12 col-centered">
        <div id="links" style="margin-left: auto; margin-right: auto; width: 1050px;">
            <div ng-repeat="item in items" style="float: left;">
                <a href="{{item.images.standard_resolution.url}}" title="{{item.user.username}}">
                    <img src="{{item.images.thumbnail.url}}" alt="{{item.user.username}}">
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-show="loading" class="row" style="margin-top: 10px;">
    <div class="col-md-4 col-centered">
        <img src="/images/loader.gif" />
    </div>
</div>

<div ng-show="showCarregarMais" class="row" style="margin-top: 10px;">
    <div class="col-md-3 col-centered">
        <button type="button" class="btn btn-default" ng-click="carregarMais()">Carregar mais...</button>
    </div>
</div>
