<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-md-4 col-centered">
            <div ng-show="browserError" class="alert alert-danger" role="alert">Este navegador não é suportado pelo site. Tente outro com tecnologia HTML 5.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-centered">
            <a class="btn btn-block btn-social btn-instagram" ng-click="btnLogin()">
                <span class="fa fa-instagram"></span> Sign in with Instagram
            </a>
        </div>
    </div>
</div>
